#contact-body   
   .contact-no      
      margin-bottom: 2rem
      
      p
         padding-left: 6px
         
         > *
            +display(inline-block)
               
         .mob-name
            width: 100px
            +position(relative)
            
            &:after
               content: ':'
               +position(absolute, null 0px null null)
               
         .mob-no
            padding-left: .5rem      

   .form
      margin-bottom: 1rem
      
      .form-contact
         +display(flex)
         +flex-wrap(wrap)
            
         input:focus, textarea:focus
            outline: none
            border-color: darken($border-color, 20)
         
         label
            width: 100%
            +flex-grow(1)
            +display(block)
            margin-bottom: 1rem
            
            strong
               width: 90px
               +display(block)
               margin-right: 1rem
               padding-bottom: 4px
            
            input, textarea
               padding: 4px 6px
               width: 100%
               border:
                  width: 1px
                  style: solid
                  color: $border-color
                  radius: 3px
                  
            textarea
               height: 7em
               resize: none
               
         input[type='submit']
            font-weight: 600
            text-transform: uppercase
            border: 1px solid $border-color
            padding: .5rem .8rem
            background-color: white
            border-radius: 3px
               
            &:hover
               background-color: $color-alt
            
            
@media screen and (min-width: 500px)
   #contact-body
      .form
         .form-contact
            width: 500px
            +display(block)

            label
               +display(block)
               +clearfix()

               > *
                  float: left
                  padding: 4px 6px

               input
                  max-width: 300px

               textarea
                  max-width: 300px

            input[type='submit']
               margin-left: 106px
               float: none

@media screen and (min-width: 992px)
   #contact-body
      .form
         .form-contact
            max-width: 506px
            width: auto

            label
               textarea
                  max-width: 400px