---
layout: default
title: Archives
---

<section class='archives'>
   <section class='archives-container'>
      <header class='archives-header'>
         <h1 class='title'>{{ page.title }}</h1>
      </header>
      
      <section class='archives-body'>         
         {% for post in site.posts %} 
         {% if post.archive %}
         <section class='articles'>
            <article class='article'>
               <p class='post'><a class='title' href='{{ post.url }}'>{{ post.title }}</a><span class='cat'>{{ post.category | replace: '-', ' ' | capitalize }}</span><span class='date'>{{ post.dated }}</span></p>
            </article>
         </section>
         {% endif %}
         {% endfor %}
      </section>
   </section>
</section>