---
layout: default
title: Contact Us
---

<section class='category'>
   <section class='category-container'>
      <header class='category-header'>
         <h1 class='title'>{{ page.title }}</h1>
      </header>      
      
      <section id='contact-body' class='category-body'>
         <section class='articles contact-content'>
            <div class='mobile-social'>

            </div>
            <div class='form'>
               <form class='form-contact' method='POST' action="https://formspree.io/{% for mail in site.data.settings.email %}{% if mail.name != 'gmail' %}{{mail.mail}}{% endif %}{% endfor %}">
                  <label class='name'>
                     <strong>Name</strong>
                     <input type='text' name='name' required>
                  </label>
                  <label class='email'>
                     <strong>Email</strong>
                     <input type='text' name='email' required>
                  </label>
                  <label class='message'>
                     <strong>Message</strong>
                     <textarea type='text' name='message' required></textarea>
                  </label>
                  <input type='submit' value='submit'>
               </form>   
            </div>
         </section>             

         <section class='sidebar'>
            {% include fb-likebox.html %}
         </section>  
         
      </section>  
      
   </section>
</section>