---
layout: default
title: FAQ
---

<section class='category'>
   <section class='category-container'>
      
      <header class='category-header'>
         <h1 class='title'>{{ page.title }}</h1>
      </header>
      
      <section id='faq-body' class='category-body'>
         <section class='articles faq-articles'>
            {% for faq in site.data.settings.faq %}
            <article {% if forloop.first %}class='faq-active'{% endif %}>
               <h3 class='question'>
                  <span class='svg'>{% include icons/q.html %}</span>
                  <span class='text'>{{ faq.question }}</span>
               </h3>
               <p class='answer'>{{ faq.answer }}</p>
            </article>
            {% endfor %}
         </section>               
         
         <section class='sidebar'>
            {% include fb-likebox.html %}
         </section>   
      </section>  
   </section>
</section>