---
layout: default
title: Bohol Sunday News
---

<section class='headlines'>
   <section class='headlines-container'>
      {% for post in site.categories.headlines  limit:4 %}
      {% if post.archive != true %}
      {% if post.image %}
      <a class='article' href='{{ post.url }}'>
         <figure class='img'>
            <img src="/assets/img{% if post.image %}{% if post.image-cat %}/{{ post.image-cat }}{% else %}{{ post.url }}{% endif %}.jpg{% else %}/no-prev.jpg{% endif %}">
         </figure>
         <h2 class='title'>{{ post.title }}</h2>
      </a>
      {% endif %}
      {% endif %}
      {% endfor %}
   </section>
</section>

<section class='main-content'>
   <section class='main-content-container'>
      <section class='articles'>
         <h4 class='box-title'>News right now</h4>
         {% for post in site.posts limit:20 %}
         {% if post.archive != true %}
         {% if post.category != 'headlines' %}
         <article class='article'>
            <figure class='img'>
               <img src="/assets/img{% if post.image %}{% if post.image-cat %}/{{ post.image-cat }}{% else %}{{ post.url }}{% endif %}.jpg{% else %}/no-prev.jpg{% endif %}">
            </figure>
            <div class='text'>
               <a class='title' href='{{ site.url }}{{ post.url }}'>{{ post.title }}</a>
               <div class='extra'>
                  <a class='cat' href='{{ site.url }}/{{ post.category }}'>{{ post.category | replace: '-', ' ' }}</a>
                  <span class='author'>{{ site.data.settings.title }}</span>
                  <span class='date'>{{ post.dated }}</span>
               </div>
               <p class='description'>{% if post.hl-desc %}{% if post.hl-title %}{{ post.hl-title }} {{ post.hl-desc | truncate:75 }}{% else %}{{ post.hl-desc | truncate:110 }}{% endif %}{{ post.hl-desc | truncate:50 }}{% else %}{{ post.content | truncate:110 | remove: "<p>" | remove: "</p>" }}{% endif %}</p>
               <a class='read-more' href='{{ site.url }}{{ post.url }}'>Read more</a>
            </div>
         </article>
         {% endif %}
         {% endif %}
         {% endfor %}
      </section>
      
      <section class='sidebar'>
         {% include fb-likebox.html %}         
         <section class="more-post more-post-sidebar">
            <h4 class='box-title'>Opinions</h4>
            <section class='article-list'>
               {% for post in site.categories.opinions limit:8 %}
               <a class='article' href='{{ post.url }}'>
                  <figure class='img'>
                     <img src='/assets/img/post1.jpg'>
                  </figure>
                  <div class='text'>
                     <h5 class='title'>{{ post.title }}</h5>
                     <span class='date'>{{ post.dated }}</span>
                  </div>
               </a>
               {% endfor %}
            </section>
         </section> 
         
         <section class="more-post more-post-sidebar">
            <h4 class='box-title'>Editorial</h4>
            <section class='article-list'>
               {% for post in site.categories.editorial limit:8 %}
               <a class='article' href='{{ post.url }}'>
                  <figure class='img'>
                     <img src='/assets/img/post1.jpg'>
                  </figure>
                  <div class='text'>
                     <h5 class='title'>{{ post.title }}</h5>
                     <span class='date'>{{ post.dated }}</span>
                  </div>
               </a>
               {% endfor %}
            </section>
         </section>
      </section>
   </section>
</section>