---
layout: default
title: Bohol Sunday News
---

<section class='headlines'>
   <section class='headlines-container'>
      {% for post in site.posts limit:5 %}
      <a class='article' href='{{ post.url }}'>
         <figure class='img'>
            <img src="/assets/img/{{ post.title | replace: ' ', '-' | downcase }}.jpg">
         </figure>
         <h2 class='title'>{{ post.title }}</h2>
      </a>
      {% endfor %}
   </section>
</section>

<section class='main-content'>
   <section class='main-content-container'>
      <section class='articles'>
         <h4 class='box-title'>News right now</h4>
         {% for post in site.posts %}
         {% if post.category != 'editorial' %}
         <article class='article'>
            <figure class='img'>
               <img src="/assets/img/{{ post.title | replace: ' ', '-' | downcase }}.jpg">
            </figure>
            <div class='text'>
               <a class='title' href='{{ site.url }}{{ post.url }}'>{{ post.title }}</a>
               <div class='extra'>
                  <a class='cat' href='{{ site.url }}/{{ post.category }}'>{{ post.category | replace: '-', ' ' }}</a>
                  <span class='author'>{{ site.data.settings.title }}</span>
                  <span class='date'>{{ post.date | date: "%B %-d, %Y" }}</span>
               </div>
               <p class='description'>{{ post.content | truncatewords:14 | remove: "<p>" | remove: "</p>" }}</p>
               <a class='read-more' href='{{ site.url }}{{ post.url }}'>Read more</a>
            </div>
         </article>
         {% endif %}
         {% endfor %}
      </section>
      
      <section class='sidebar'>
         {% include fb-likebox.html %}
      </section>
   </section>
</section>