<section class='banner'>
   <section class='banner-container'>
      <a class='img' href='{{ site.url }}'>
         <img src='/assets/img/banner.jpg'>
      </a>
      <div class='touch'>
         <div class='mobile'>
            {% for mobile in site.data.settings.tel %}
            <span class='{{ mobile.name }}'>{{ mobile.name }}: <a href='tel:{{ mobile.number }}'>{{ mobile.number }}</a></span>
            {% endfor %}
         </div>
         <div class='email'>
            {% for email in site.data.settings.email %}
            <span>{{ email.name }}: <a href='mailto:{{ email.mail }}'>{{ email.mail }}</a></span>
            {% endfor %}
         </div>
      </div>
   </section>
</section>
