<section class='category'>
   <section class='category-container'>
      
      <header class='category-header'>
         <h1 class='title'>{{ page.title }}</h1>
      </header>
      
      <section class='category-body'>
         <section class='articles'>
            {% for post in site.posts %}
            {% if post.archive != true %}
            {% assign cat-title = page.title | downcase | replace: ' ', '-' %}
            {% if post.category == cat-title %}
            <article class='article'>
               <figure class='img'>
                  <img src="/assets/img{% if post.image %}{% if post.image-cat %}/{{ post.image-cat }}{% else %}{{ post.url }}{% endif %}.jpg{% else %}/no-prev.jpg{% endif %}">
                  
               </figure>
               <div class='text'>
                  <a class='title' href='{{ site.url }}{{ post.url }}'>{{ post.title }}</a>
                  <div class='extra'>
                     <a class='cat' href='{{ site.url }}/{{ post.category }}'>{{ post.category | replace: '-', ' ' }}</a>
                     <span class='author'>{{ site.data.settings.title }}</span>
                     <span class='date'>{{ post.dated }}</span>
                  </div>
                  <p class='description'>{% if post.hl-desc %}{% if post.hl-title %}{{ post.hl-title }} {{ post.hl-desc | truncate:75 }}{% else %}{{ post.hl-desc | truncate:110 }}{% endif %}{{ post.hl-desc | truncate:50 }}{% else %}{{ post.content | truncate:110 | remove: "<p>" | remove: "</p>" }}{% endif %}</p>
                  <a class='read-more' href='{{ site.url }}{{ post.url }}'>Read more</a>
               </div>
            </article>
            {% endif %}
            {% endif %}
            {% endfor %}
         </section>

         <section class='sidebar'>
            {% include fb-likebox.html %}
         </section>
      </section>
   </section>
</section>