<script type="text/javascript">
$(document).ready(function() {
   generateRandomPosts();
});

function generateRandomPosts() {
   $.getJSON("/search.json", function(data) {
      console.log("[search.json loaded for random posts]");

      var postsCount = data.length;
      var posts = data;

      var randomIndexUsed = [];
      var counter = 0;
      var numberOfPosts = 8;

      var divRandomPosts = $("#random_posts");

      while (counter < numberOfPosts)
      {
          var randomIndex = Math.floor(Math.random() * postsCount);

          if (randomIndexUsed.indexOf(randomIndex) == "-1")
          {
              var postHREF = posts[randomIndex].href;
              var postTitle = posts[randomIndex].title;
              var postDated = posts[randomIndex].dated;
              var postImg = posts[randomIndex].img;

            divRandomPosts.append('<a class="article" href="' + postHREF + '"><figure class="img"><img src="/assets/img/' + postImg + '.jpg"></figure><div class="text"><h5 class="title">' + postTitle + '</h5><span class="date">' + postDated + '</span></div></a>');

              randomIndexUsed.push(randomIndex);

              counter++;
          }
      }
   });
}
</script>